<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2015, Nordic Semiconductor
  ~ All rights reserved.
  ~
  ~ Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:
  ~
  ~ 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.
  ~
  ~ 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following disclaimer in the
  ~ documentation and/or other materials provided with the distribution.
  ~
  ~ 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products derived from this
  ~ software without specific prior written permission.
  ~
  ~ THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
  ~ LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT
  ~ HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT
  ~ LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON
  ~ ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE
  ~ USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.flicktek.clip"
          android:installLocation="auto">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <uses-permission android:name="android.permission.NFC" />

    <uses-feature android:name="android.hardware.telephony" android:required="false"/>

    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.PROCESS_INCOMING_CALLS" />
    <uses-permission android:name="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE" />

    <uses-permission android:name="no.nordicsemi.android.LOG"/>

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true"/>

    <application
        android:name="com.flicktek.clip.FlicktekClipApplication"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.dropbox.client2.android.AuthActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask">

            <intent-filter>
                <!-- Change this to be db- followed by your app key -->
                <data android:scheme="db-gt4fpw5rkamkb8i"/>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.flicktek.clip.MainActivity"
            android:configChanges="screenLayout|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"

            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="com.flicktek.clip.slides"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name="com.flicktek.clip.dropbox.Dropbox"
            android:configChanges="screenLayout|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"

            android:theme="@style/AppTheme">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name="com.flicktek.clip.NotificationsActivity"
            android:configChanges="screenLayout|screenSize"
            android:label="@string/notification_activity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="com.flicktek.clip.intent_notification"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>


        <activity
            android:name="com.flicktek.clip.VideoActivity"
            android:configChanges="screenLayout|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="com.flicktek.clip.intent_videos"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name="com.flicktek.clip.LaunchActivity"
            android:configChanges="screenLayout|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <activity
            android:name="com.flicktek.clip.SplashscreenActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts"/>

            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data android:mimeType="application/vnd.no.nordicsemi.type.app"/>
                <data android:mimeType="application/vnd.no.nordicsemi.type.address"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.flicktek.clip.FeaturesActivity"
            android:label="@string/app_name"
            android:theme="@style/AppThemeSettings"
            android:launchMode="singleTask"
            >
        </activity>

        <!-- Plug-in activities -->

        <activity
            android:name="com.flicktek.clip.uart.UARTActivity"
            android:icon="@drawable/ic_uart_feature"
            android:label="@string/uart_feature_title"
            android:theme="@style/AppThemeSettings"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="com.flicktek.clip.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name="com.flicktek.clip.dfu.DfuCheckActivity"
            android:icon="@drawable/ic_dfu_feature"
            android:theme="@style/AppThemeSettings"
            android:label="@string/dfu_feature_title">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="com.flicktek.clip.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name="com.flicktek.clip.dfu.DfuActivity"
            android:icon="@drawable/ic_dfu_feature"
            android:theme="@style/AppThemeSettings"
            android:label="@string/dfu_feature_title">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="com.flicktek.clip.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.flicktek.clip.dfu.settings.SettingsActivity"
            android:theme="@style/AppThemeSettings"
            android:label="@string/dfu_settings_title"/>
        <activity
            android:name="com.flicktek.clip.dfu.NotificationActivity"
            android:label="@string/dfu_feature_title"/>

        <activity
            android:name="com.flicktek.clip.dfu.DfuInitiatorActivity"
            android:label="@string/dfu_service_title"
            android:noHistory="true"
            android:theme="@style/AppTheme.Translucent">
            <intent-filter>
                <action android:name="no.nordicsemi.android.action.DFU_UPLOAD"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <service
            android:name="com.flicktek.clip.uart.UARTService"
            android:label="@string/uart_feature_title"/>

        <service android:name="com.flicktek.clip.wearable.WearListenerService">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.DATA_CHANGED"/>
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED"/>

                <data
                    android:host="*"
                    android:scheme="wear"/>
            </intent-filter>
        </service>

        <service
            android:name="com.flicktek.clip.notifications.NotificationMonitor"
            android:enabled="true"
            android:label="Flicktek Notification"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService"/>
            </intent-filter>
        </service>

        <service
            android:name="com.flicktek.clip.dfu.DfuService"
            android:exported="true"
            android:label="@string/dfu_service_title" >
            <intent-filter>
                <action android:name="no.nordicsemi.android.action.DFU_UPLOAD" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <provider
            android:name="com.flicktek.clip.uart.UARTLocalLogContentProvider"
            android:authorities="com.flicktek.clip.uart.log"
            android:exported="true"/>

        <receiver android:name=".IncomingCallReceiver">
            <intent-filter android:priority="999">
                <action android:name="android.intent.action.PHONE_STATE"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>